* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: white;
    background: skyblue;
    padding: 1.5rem;
}

nav {
    background: lightgrey;
    color: white;
    padding: 0.2rem;
    margin-bottom: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 1rem;
    padding: 0.3rem;
}

nav li.login {
    margin-left: auto;
}

nav li:hover {
    cursor: pointer;
}

div.banner {
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
    border: 1px solid #ddd;
    width: 80%;
}

div.btn_box {
    display: flex;
    margin: 0 auto;
    margin-top: 5rem;
    width: 80%;

}

div.btn_box div {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ddd;
    width: 30%;
    height: 30vh;
}
